<h2>Empresas&nbsp;
    <a routerLink="/empresas/new" class="btn btn-success float-right">Nueva empresa</a>
  </h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>CUIT</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresas; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ empresa.nombre }}</td>
          <td>{{ empresa.cuit }}</td>
          <td>{{ empresa.observaciones }}</td>
          <td>
            <a class="btn btn-primary" routerLink="/empresas/{{empresa.id}}">
              <i class="fa fa-edit"></i>
            </a>
            &nbsp;
            <button (click)="openModal(empresa.id)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>